# Pandas

In [1]:
import numpy as np
import pandas as pd

### 1. Series

In [2]:
s = pd.Series()         # () 속에 1차원의 데이터 들어오면 됨(튜플,리스트,딕셔너리, 넘파이배열..)

<ipython-input-2-ce39ef135659>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = pd.Series()         # () 속에 1차원의 데이터 들어오면 됨(튜플,리스트,딕셔너리, 넘파이배열..)

In [3]:
s = pd.Series([9904312, 3448737, 2890451, 2466052],
            index=['서울','부산','인천','대구'])
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [4]:

s[0], s['서울']

# 인덱싱 : 인덱스 or 내가 지정한 인덱스 값으로 불러올 수 있음

(9904312, 9904312)

In [5]:
s[[1,3]]
# 여러 개 꺼내기 
# 배열 인덱싱 - 부분 시리즈 반환

부산    3448737
대구    2466052
dtype: int64

In [6]:
s[['부산','대구']]

부산    3448737
대구    2466052
dtype: int64

In [7]:
# 데이터는 넘파이므로 슬라이싱도 가능 
s[1::2]

부산    3448737
대구    2466052
dtype: int64

In [8]:
s[::2]

서울    9904312
인천    2890451
dtype: int64

In [9]:
cities = {'서울':9904312, '부산':3448737,'인천':2890451,'대구':2466052}     # 딕셔너리로 줌 
s2 = pd.Series(cities)
s2

# 시리즈와 딕은 거의 1:1 맵핑됨 / 거의 같다고 보면 됨

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [10]:
dice = pd.Series(np.random.randint(1,7,5))      # 넘파이 배열 줌 (1차원 데이터만 오면 가능)
dice

0    2
1    1
2    3
3    5
4    5
dtype: int32

In [11]:
# Series의 데이터는 넘파이이므로 수식을 바로 적용할 수 있음 
s / 1000000     # 백만명으로 나누기

서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
dtype: float64

### Series와 Dictionary

In [12]:
cities = {'서울':9631482, '부산':3393191,'인천':2632035,'대전':1490158}     # 딕셔너리로 줌 
s2 = pd.Series(cities)
s2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [13]:
s.items()  # 키, 값 쌍꺼내기

In [14]:
for key, value in s.items():
    print(key,value)

서울 9904312
부산 3448737
인천 2890451
대구 2466052

In [15]:
ds = s - s2     
ds
# s와 s2 인덱스 같은 서/부/인천은 차이 출력 , 다른 대구,대전은 NaN(결측치)
# 같 인덱스끼리는 연산 이루어지지만 다 인덱스는 연산 X 

# 정수-정수인데 결과는 float (Why?: NaN은 정수 아닌 실수로 표현: 밑)
# 범위 : 실>정 이므로 / 자동으로 변경된 것

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [16]:
np.nan, np.inf # 실수형 안의 데이터

(nan, inf)

### 속성과 메소드

In [17]:
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

- 속성

In [18]:
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [19]:
s.values
# series의 value값만 꺼내기
# 넘파이 어레이

array([9904312, 3448737, 2890451, 2466052], dtype=int64)

In [20]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [21]:
s.name = '도시'
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 도시, dtype: int64

- count(), value_counts(), unique(), nunique()

In [22]:
np.random.seed(2021)
dice = pd.Series(np.random.randint(1,7,100))

In [23]:
dice.count()
#element 갯수

100

In [24]:
# 고유한 값 
dice.unique()

array([5, 6, 2, 1, 4, 3])

In [25]:
# 고유한 값의 갯수 
dice.nunique()

6

In [26]:
# ***고유한 값별로 갯수 (높은 빈도순)
dice.value_counts()

2    21
6    21
3    19
4    18
5    13
1     8
dtype: int64

- sum(), min(), max(), mean()

In [27]:
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 도시, dtype: int64

In [28]:
s.sum(), s.mean(), s.max(), s.min()

(18709552, 4677388.0, 9904312, 2466052)

In [29]:
s.describe()
# 요약 통계 정보
# 구할 수 있는 모든 정보

count    4.000000e+00
mean     4.677388e+06
std      3.507776e+06
min      2.466052e+06
25%      2.784351e+06
50%      3.169594e+06
75%      5.062631e+06
max      9.904312e+06
Name: 도시, dtype: float64

- sorting

In [30]:
# value sorting(기본 : 오름차순)
s.sort_values()

대구    2466052
인천    2890451
부산    3448737
서울    9904312
Name: 도시, dtype: int64

In [31]:
# value sorting(내림차순)
s.sort_values(ascending=False)      # 기본 ascending 오름차순을 거부하는 False =내림차순

서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 도시, dtype: int64

In [32]:
# 내림차순 2 
s.sort_values()[::-1]

서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 도시, dtype: int64

In [33]:
# index_sorting     # 인덱스 문자열이니까 가나다 순으로 
s.sort_index()

대구    2466052
부산    3448737
서울    9904312
인천    2890451
Name: 도시, dtype: int64

- 결측치(Na, Null, Nan) 처리

In [34]:
ds

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [35]:
ds.isna() # 결측치가 있느냐?

대구     True
대전     True
부산    False
서울    False
인천    False
dtype: bool

In [36]:
ds

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [37]:
ds.isna()

대구     True
대전     True
부산    False
서울    False
인천    False
dtype: bool

In [38]:
# 데이터 갯수가 많아지면 위 방법은 적절치 X  
# value_counts() method도 X  : 결측치는 아예 출력도 안됨 
ds. value_counts()

272830.0    1
55546.0     1
258416.0    1
dtype: int64

In [39]:
ds.isna().sum() # 대량의 데이터에서 결측치 개수 구하기

2

In [40]:
dice.isnull().sum()

0

In [41]:
# 결측치 처리방법(대체편)
ds.fillna(ds.mean())        # 평균으로 채우기

대구    195597.333333
대전    195597.333333
부산     55546.000000
서울    272830.000000
인천    258416.000000
dtype: float64

In [42]:
ds      # 대체했지만 ds는 변하지 않았음 --- inplace=True 사용 (결측치 제거 밑으로 가세요)

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [43]:
ds.fillna(0)        # 0으로 대체

대구         0.0
대전         0.0
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [44]:
ds.fillna(0).astype(int)        # type 변경도 가능** (float - int)

대구         0
대전         0
부산     55546
서울    272830
인천    258416
dtype: int32

In [45]:
# 결측치 처리 방법(제거) 
ds.dropna()

# isna / fillna / dropna **

부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

- inplace option

In [46]:
ds_median = ds.fillna(ds.median()).astype(int)    # 중앙값으로 대체 
ds_median

대구    258416
대전    258416
부산     55546
서울    272830
인천    258416
dtype: int32

In [47]:
ds.dropna(inplace=True)
ds

# 시리즈/데이터프레임에서 내 자신을 바꾸고 싶을 때 inplace=True 사용

부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64