# 2. DataFrame

In [1]:
import numpy as np
import pandas as pd

1) 생성

In [2]:
data = {
    '국어':[80,90,70,30],
    '영어':[90,70,60,40],
    '수학':[90,60,80,70]
}
index = ['춘향','몽룡','향단','방자']   # 컬럼스는 생략 가능
df = pd.DataFrame(data, index=index)
df

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  30  40  70

In [3]:
# 2차원 배열(2차원 데이터 만들- 행 인덱스-열인덱스 붙임 )
np.random.seed(2021)
df2 = pd.DataFrame(np.random.randint(40,101,12).reshape(4,3),
                    columns=['국어','영어','수학'], index=index)
df2

    국어  영어  수학
춘향  92  61  97
몽룡  40  85  70
향단  62  84  67
방자  69  61  69

In [4]:
# 반복문으로 데이터 프레임 생성
l = []
for i in range(4):
    d = {'국어': np.random.randint(40,101),
         '영어': np.random.randint(40,101),
         '수학': np.random.randint(40,101)}

    l.append(d)
l

# 딕셔너리의 리스트 형태

[{'국어': 64, '영어': 52, '수학': 94},
 {'국어': 46, '영어': 78, '수학': 46},
 {'국어': 73, '영어': 77, '수학': 47},
 {'국어': 41, '영어': 86, '수학': 73}]

In [5]:
df3 = pd.DataFrame(l, index=index)
df3

    국어  영어  수학
춘향  64  52  94
몽룡  46  78  46
향단  73  77  47
방자  41  86  73

In [6]:
# 데이터 프레임은 보통 딕셔너리..
# 딕셔너리의 키값이 보통 컬럼(열) 값

### 2) 인덱싱

In [7]:
df

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  30  40  70

In [8]:
df['국어']   # 데이터 프레임은 열 먼저 선택

춘향    80
몽룡    90
향단    70
방자    30
Name: 국어, dtype: int64

In [9]:
df.국어     # 이런 사용도 가능

춘향    80
몽룡    90
향단    70
방자    30
Name: 국어, dtype: int64

- 열 인덱스, 행 인덱스

In [22]:
df['국어']['춘향'],     df['국어'][0],      df.국어[0],     df.국어.춘향

(80, 80, 80, 80)

- 슬라이스

In [11]:
df['국어'][:2]      # 출력되는 모양을 보면 시리즈임

춘향    80
몽룡    90
Name: 국어, dtype: int64

In [12]:
df[['국어','영어']][:2]     
# 정갈한 데이터표에 나오는 걸 보면 데프 
# 컬럼에 리스트가 들어가있으면 데프/ 컬럼에 element만 있으면 시리즈)

    국어  영어
춘향  80  90
몽룡  90  70

In [13]:
df[['국어','영어']][:'향단'],       df[['국어','영어']][:-1]
# 인덱스 이름으로 주면 거기까지 포함시킴

(    국어  영어
 춘향  80  90
 몽룡  90  70
 향단  70  60,
     국어  영어
 춘향  80  90
 몽룡  90  70
 향단  70  60)

In [14]:
df

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  30  40  70

-loc 인덱서: [행인덱스, 열인덱스]

In [16]:
df.loc['몽룡','국어'] # 인덱스 이름 정확하게

90

In [23]:
df.loc['몽룡'][0]

90

In [26]:
df['국어'][1] , df.loc['몽룡'][0]
# 그냥 인덱싱(열,행) / loc 인덱싱(행,열)

(90, 90)

- iloc 인덱서 : [행숫자, 열숫자]

In [29]:
df.iloc[1,0]

90

- 값 변경 및 열 추가

In [31]:
df

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  30  40  70

In [33]:
df['국어']['방자'] = 75     # 방자의 국어점수를 75로 변경 
df['영어']['방자'] = 82     # 방자의 영어점수를 82로 변경 
df

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  75  82  70

In [38]:
# 열추가
df['과학'] = [30,40,50,60]  # element 갯수 똑같아야 함 
df

    국어  영어  수학  과학
춘향  80  90  90  30
몽룡  90  70  60  40
향단  70  60  80  50
방자  75  82  70  60

In [39]:
df['과학'] = 30
df

    국어  영어  수학  과학
춘향  80  90  90  30
몽룡  90  70  60  30
향단  70  60  80  30
방자  75  82  70  30

- 열 삭제

In [40]:
del df['과학']
df

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  75  82  70

- 행 삭제

In [41]:
df.drop(['방자'])

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80

In [42]:
df  # drop은 자기자신을 바꿀 수 X inplace=True 해야 함

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  75  82  70

In [43]:
df.drop(['방자'], inplace=True)
df

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80