- 데이터사이언스스쿨

- 4.1.1
- 임의로 두 개의 시리즈 객체를 만든다. 모두 문자열 인덱스를 가져야 하며 두 시리즈에 공통적으로 포함되지 않는 라벨이 있어야 한다. -- 이 말은 공통도 있어야 한다는?

- 위에서 만든 두 시리즈 객체를 이용하여 사칙 연산을 한다.

In [73]:
import numpy as np
import pandas as pd

In [74]:
a = pd.Series([23,69,45,85],
            index = ['A','B','C','D'])
b = pd.Series([74,69,32,58],
            index = ['C','D','E','F'])
a, b

(A    23
 B    69
 C    45
 D    85
 dtype: int64,
 C    74
 D    69
 E    32
 F    58
 dtype: int64)

In [75]:
a + b

A      NaN
B      NaN
C    119.0
D    154.0
E      NaN
F      NaN
dtype: float64

In [76]:
AB = a+b
AB.isna()

A     True
B     True
C    False
D    False
E     True
F     True
dtype: bool

In [77]:
a-b

A     NaN
B     NaN
C   -29.0
D    16.0
E     NaN
F     NaN
dtype: float64

In [78]:
AB = a-b
AB.isna()

A     True
B     True
C    False
D    False
E     True
F     True
dtype: bool

In [79]:
a*b

A       NaN
B       NaN
C    3330.0
D    5865.0
E       NaN
F       NaN
dtype: float64

In [80]:
AB = a*b
AB.isna()

A     True
B     True
C    False
D    False
E     True
F     True
dtype: bool

In [81]:
a%b

A     NaN
B     NaN
C    45.0
D    16.0
E     NaN
F     NaN
dtype: float64

In [82]:
AB = a%b
AB.isna()

A     True
B     True
C    False
D    False
E     True
F     True
dtype: bool

- 4.1.2

- 다음 조건을 만족하는 임의의 데이터프레임을 하나 만든다.

- (1) 열의 갯수와 행의 갯수가 각각 5개 이상이어야 한다.

- (2) 열에는 정수, 문자열, 실수 자료형 데이터가 각각 1개 이상씩 포함되어 있어야 한다.

In [83]:
data = {
    '학년':[1,2,3,4,5],
    '출석여부':['출석','출석','지각','결석','조퇴'],
    '성적':[85.7,46.0,89.3,92.7,88.2],
    '등교수단':['버스','통학','기숙사','자전거','지하철'],
    '사물함갯수':[2,3,1,0,1]
}
index = ['소의','명희','연지','진주','채준']
df = pd.DataFrame(data, index=index)
df

    학년 출석여부    성적 등교수단  사물함갯수
소의   1   출석  85.7   버스      2
명희   2   출석  46.0   통학      3
연지   3   지각  89.3  기숙사      1
진주   4   결석  92.7  자전거      0
채준   5   조퇴  88.2  지하철      1

- 4.1.3
- 다음 데이터프레임에서 지정하는 데이터를 뽑아내거나 처리하라.

In [84]:
data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],
}
columns = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)
df

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  30  40  70

- (1) 모든 학생의 수학 점수를 시리즈로 나타낸다.

In [85]:
# df를 s로 
df['수학']

# Q 모든 학생들의 점수를 시리즈로 나타내라 ?

춘향    90
몽룡    60
향단    80
방자    70
Name: 수학, dtype: int64

- (2) 모든 학생의 국어와 영어 점수를 데이터 프레임으로 나타낸다.

In [86]:
df[['국어','영어']][:]

    국어  영어
춘향  80  90
몽룡  90  70
향단  70  60
방자  30  40

In [87]:
df

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  30  40  70

- (3) 모든 학생의 각 과목 평균 점수를 새로운 열로 추가한다.

In [88]:
df['과목평균'] = [(80+90+90)/3,(90+70+60)/3,(70+60+80)/3,(30+40+70)/3]
df

    국어  영어  수학       과목평균
춘향  80  90  90  86.666667
몽룡  90  70  60  73.333333
향단  70  60  80  70.000000
방자  30  40  70  46.666667

- (4) 방자의 영어 점수를 80점으로 수정하고 평균 점수도 다시 계산한다.

In [89]:
df.mean(axis=1)

춘향    86.666667
몽룡    73.333333
향단    70.000000
방자    46.666667
dtype: float64

In [93]:
df['영어']['방자'] = 80
df['과목평균'] = [df.mean(axis=1)]
df

<ipython-input-93-b4073d8274ed>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['영어']['방자'] = 80

ValueError: Length of values (1) does not match length of index (4)

In [91]:
a

A    23
B    69
C    45
D    85
dtype: int64

- (5) 춘향의 점수를 데이터프레임으로 나타낸다.

In [92]:
df[['국어','영어','수학']]['춘향']

KeyError: '춘향'

- (6) 향단의 점수를 시리즈로 나타낸다.

In [ ]:
df[['국어','영어','수학']]['향단']

KeyError: '향단'

- 4.3.1

- 모든 행과 열에 라벨을 가지는 5 x 5 이상의 크기를 가지는 데이터프레임을 만든다.

- 10가지 이상의 방법으로 특정한 행과 열을 선택한다.

In [ ]:
data = {
    'a':[1,2,3,4,5],
    'b':[6,7,8,9,10],
    'c':[11,12,13,14,15],
    'd':[16,17,18,19,20],
    'e':[21,22,23,24,25]
}
index = ['one','two','three','four','five']
df = pd.DataFrame(data, index=index)
df

       a   b   c   d   e
one    1   6  11  16  21
two    2   7  12  17  22
three  3   8  13  18  23
four   4   9  14  19  24
five   5  10  15  20  25

In [ ]:
df['a']

one      1
two      2
three    3
four     4
five     5
Name: a, dtype: int64

In [ ]:
df.a

one      1
two      2
three    3
four     4
five     5
Name: a, dtype: int64

In [ ]:
df['a']['one'] , df['a'][0]

(1, 1)

In [ ]:
df.loc['two','a']

2

In [ ]:
df.loc['two'][1]

7

In [ ]:
df.iloc[2,4]

23